<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<% include ./partials/navbar %>
<div class="container">

    <div class="page-header text-center">
        <h1></span> Manage Drivers</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> My Information</h3>

                    <p>
                      <strong>Store ID</strong>: <%= user.id %><br>
                      <strong>Username</strong>: <%= user.username %><br>
                      <strong>Store Name</strong>: <%= user.storename %><br>
                      <strong>Store Email</strong>: <%= user.storeemail %><br>
                      <strong>Store Phone</strong>: <%= user.storephone %><br>
                      <strong>Store Address</strong>: <%= user.storeaddress %><br>

                    </p>

            </div>
            <!-- LOCAL INFORMATION -->

            <div class="well">
                <h3><span class="fa fa-user"></span> Your Drivers</h3>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <p>
                        <strong>Driver ID</strong>: <%= data[i].did %><br>
                        <strong>Driver Name</strong>: <%= data[i].name %><br>
                        <a href="./drivers/<%= data[i].did %>"> View Driver Information</a> <br>
                        <a href="./drivers/<%= data[i].did %>/delete"> Delete driver</a>
                    </p>
                    <% } %>
                  <p><a class="btn btn-default btn-lg" href="/createDriver">Add a Driver</a></p>
            </div>

        </div>
        <p><a href="/profile">Back to Profile</a></p>
        <!-- <p>Or go <a href="/">Home</a>.</p> -->

    </div>

</div>
</body>
</html>
