<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Order Information</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span></h3>

                    <p>
                        <strong>Order ID</strong>: <%= order.oid %><br>
                        <strong>Order Description</strong>: <%= order.description %><br>
                        <strong>Order Status</strong>: <%= order.status %><br>
                        <strong>Tip</strong>: <%= order.tip %><br>
                        <strong>Price</strong>: <%= order.price %><br>
                        <strong>Feedback</strong>: <%= order.feedback %><br>
                        <strong>Timestamp</strong>: <%= order.date %><br>
                    </p>

                    <!-- <p><a class="btn btn-default btn-lg" href="/manageOrders">Back to Manage Orders</a></p> -->

            </div>
            <h4>
            <p><a href="./">Back to Orders</a></p>
            <p>Or go <a href="/">Home</a>.</p></h4>
        </div>

    </div>

</div>
</body>
</html>
