<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Orders Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= order.oid %><br>
                        <strong>description</strong>: <%= order.description %><br>
                        <strong>status</strong>: <%= order.status %><br>
                        <strong>tip</strong>: <%= order.tip %><br>
                        <strong>price</strong>: <%= order.price %><br>
                        <strong>feedback</strong>: <%= order.feedback %><br>
                    </p>
                    <p><a class="btn btn-default btn-lg" href="/manageOrders">Back to Manage Orders</a></p>
            </div>
        </div>

    </div>

</div>
</body>
</html>
