<!doctype html>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/navbar %>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Order Information</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <h3><span class="fa fa-user"></span></h3>

                    <p>
                        <strong>Order ID</strong>: <%= order.oid %><br>
                        <strong>Order Description</strong>: <%= order.description %><br>
                        <strong>Order Status</strong>: <%= order.status %><br>
                        <strong>Tip</strong>: <%= order.tip %><br>
                        <strong>Price</strong>: <%= order.price %><br>
                        <strong>Feedback</strong>: <%= order.feedback %><br>
                        <strong>Timestamp</strong>: <%= order.date %><br>
                    </p>

                    <!-- <p><a class="btn btn-default btn-lg" href="/manageOrders">Back to Manage Orders</a></p> -->

            </div>


        </div>

    </div>

</div>
</body>
</html>
