<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">

        <h1></span> Driver Information</h1>

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">

                <h3><span class="fa fa-user"></span> <%= driver.name %></h3>

                    <p>
                        <strong>Driver ID</strong>: <%= driver.did %><br>


                        <strong>Username</strong>: <%= driver.username %><br>
                        <strong>Password</strong>: <%= driver.password %><br>
                        <strong>Name</strong>: <%= driver.name %><br>
                        <strong>Email</strong>: <%= driver.email %><br>
                        <strong>Address</strong>: <%= driver.address %><br>
                        <strong>Phone</strong>: <%= driver.phone %><br>
                        <strong>Restuarant</strong>: <%= driver.id %><br>
                    </p>

            </div>
            <h4>

          <!--  <p><a href="/drivers">Back to Drivers</a></p>-->
            <p>Go <a href="/">Home</a>.</p></h4>
        </div>

    </div>

</div>
</body>
</html>
